th	{
font-family: verdana;
font-size: 12px;
font-weight: bold;
text-align: left;
color: #000000;
}

td	{
font-family: verdana;
font-size: 11px;
font-weight: normal;
color: #000000;
}

td.footer	{
font-family: verdana;
font-size: 10px;
font-weight: normal;
color: #ffffff;
}

td.sequencenumber	{
font-family: verdana;
font-size: 10px;
font-weight: bold;
color: #000000;
}

span.current	{
font-family: verdana;
font-size: 12px;
font-weight: bold;
color: #ffff00;
text-decoration: none;
}

td.subnav	{
font-family: verdana;
font-size: 12px;
font-weight: normal;
color: #ffffff;
text-decoration: none;
}

td.subnav a:visited {
color: #ffffff;
text-decoration: underline;
}

td.subnav a:link {
color: #ffffff;
text-decoration: underline;
}

td.subnav	a:hover {
color: #ffff00;
text-decoration: underline;
}

td.subnav	a:active {
color: #cccccc;
text-decoration: underline;
}

th.searchmatch	{
font-family: verdana;
font-size: 12px;
font-weight: bold;
text-align: left;
color: #ffffff;
text-decoration: none;
}

td.searchmatch	{
font-family: verdana;
font-size: 12px;
font-weight: normal;
color: #ffffff;
text-decoration: none;
}

td.searchmatch a:visited {
color: #ffff00;
text-decoration: none;
}

td.searchmatch a:link {
color: #ffff00;
text-decoration: none;
}

td.searchmatch	a:hover {
color: #ffffff;
text-decoration: none;
}

td.searchmatch	a:active {
color: #cccccc;
text-decoration: none;
}

p	{
font-family: verdana;
font-size: 12px;
font-weight: normal;
color: #ffffff;
}

h1	{
font-family: verdana;
font-size: 14px;
font-weight: bold;
color: #ffffff;
}

p a:visited {
color: #ffff00;
text-decoration: underline;
}

p a:link {
color: #ffff00;
text-decoration: underline;
}

p	a:hover {
color: #ffffff;
text-decoration: underline;
}

p	a:active {
color: #cccccc;
text-decoration: underline;
}

textarea {
color: #000000;
background-color: #eeeeee;
border-color: #333333;
border-style: solid;
border-width: 1px;
font-family: verdana;
font-size: 12px;
font-weight: normal;
width: 300px;
}	

select.multiple {
color: #000000;
background-color: #eeeeee;
border-color: #333333;
border-style: solid;
border-width: 1px;
font-family: verdana;
font-size: 12px;
font-weight: normal;
width: 400px;
}	

select.single {
color: #000000;
background-color: #cccccc;
border-color: #333333;
border-style: solid;
border-width: 1px;
font-family: verdana;
font-size: 12px;
font-weight: normal;
height: 24px;
width: 200px;
}	

input.text {
color: #333333;
background-color: #eeeeee;
border-color: #333333;
border-width: 1px;
font-family: verdana;
font-size: 12px;
font-weight: normal;
vertical-align: middle;
height: 14px;
width: 200px;
}	

input.checkbox {
color: #333333;
background-color: #cccccc;
border-color: #333333;
border-width: 1px;
vertical-align: middle;
}	

input.radio {
color: #333333;
background-color: #cccccc;
border-color: #333333;
border-width: 1px;
vertical-align: middle;
}	

input.greenbutton {
color: #000000;
background-color: #00cc33;
border-color: #333333;
border-width: 1px;
padding: 5px;
font-family: verdana;
font-size: 12px;
font-weight: bold;
vertical-align: middle;
width: 150px;
}	

input.yellowbutton {
color: #000000;
background-color: #ffff00;
border-color: #333333;
border-width: 1px;
padding: 5px;
font-family: verdana;
font-size: 12px;
font-weight: bold;
vertical-align: middle;
width: 150px;
}	

input.redbutton {
color: #000000;
background-color: #ff0000;
border-color: #333333;
border-width: 1px;
padding: 5px;
font-family: verdana;
font-size: 12px;
font-weight: bold;
vertical-align: middle;
width: 150px;
}



INPUT.PageIndexCurrent {
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  color: #ffff00;
  text-decoration: none;
  border: none #666666 0px;
  background-color: #666666;
}


INPUT.PageIndexOther {
  font-family: verdana;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border: none #666666 0px;
  background-color: #666666;
}
