{% extends 'base.html' %}

{% block content %}
<h1><a href="/keyword/">Keyword</a>: {{object.keyword}}</h1>

<p>Videos with this keyword:</p>

<table border="0" width="100%" cellspacing="0" cellpadding="10">
{% for object in object.video_set.all %}
<tr class="{% cycle 'even' 'odd' %}">
  <td nowrap width="150" class="searchmatch" valign="top" align="center">
             <IMG SRC="{{object.image_url}}{{object.image_filename}}" BORDER="0" WIDTH="150" HEIGHT="100">
        <br>
        <br>

             [ <A HREF="{{object.real_video_url}}{{object.real_video_filename}}">Video</A> ]

        <br>
        </td>
        <td class="searchmatch" valign="top">

        <a href="{{object.get_absolute_url}}"><b>{{object.title|safe}}</b>{% if object.scene %}
        - <i>{{object.scene|safe}}</i>{% endif %}</a>

        <br>

        Director: {{object.author|safe}}

        Copyright:

	{{object.copyrightholder|safe}}
        &nbsp;

	{% if object.copyrightdate %}
	{{ object.copyrightdate }}
	{% endif %}

        <br>

        </td>
</tr>
{% endfor %}
</table>

{% endblock %}
