{% extends 'base.html' %}

{% block content %}
<h1>{{object.title}}: {{object.scene}}</h1>

{% if object.author %}
<h2>{{object.author}}</h2>
{% endif %}

<p>copyright: {{object.copyrightholder}}{% if copyrightdate %}
  {{object.copyrightdate}}{% endif %}</p>

<p>Watch it: {% if object.local_video %}
<a href="{{object.real_video_url}}{{object.real_video_filename}}">video</a>
{% else %}
<a href="{{object.real_video_filename}}">video</a>
{% endif %}</p>

{% for image in object.images %}
<img src="{{image}}"/>
{% endfor %}

{% comment %}

These are all apparently stored as textfiles on the CUIT filesystem.
We are going to need to copy them down and import them before we can
do anything with them.

Full text	
Questions	
Commentary	
Plot	
Screenplay	

{% endcomment %}

{% if object.resources.count %}
<h3>Resources</h3>
<ul>
  {% for resource in object.resources.all %}
  <li><a href="{{resource.resource}}">{{resource.description|default:resource.resource}}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if object.themes.count %}
<h3>Themes</h3>
<ul>
  {% for theme in object.themes.all %}
  <li><a href="{{theme.get_absolute_url}}">{{theme.theme}}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if object.keywords.count %}
<h3>Keywords</h3>
<ul>
  {% for keyword in object.keywords.all %}
  <li><a href="{{keyword.get_absolute_url}}">{{keyword.keyword}}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
