{% extends 'base.html' %}

{% block content %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt; previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next &gt;</a>
        {% endif %}
    </span>
</div>
<table>
{% for object in object_list %}
<tr>
<th valign="top">
<a href="{{object.get_absolute_url}}">
<img src="{{object.image_url}}{{object.image_filename}}"></a></th>
<td valign="top"><a href="{{object.get_absolute_url}}">{{object.title}}</a></td>
<td valign="top"><a href="{{object.get_absolute_url}}">{{object.scene}}</a></td>
</tr>
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt; previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next &gt;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
